.App {
  text-align: center;
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
#img-profile{
  position: relative;
  border: solid 1px whitesmoke;
  border-radius: 10% 10% 40% 10%;
}
header {  
  width: 100%;
  position: fixed;
  z-index: 100;
}

.blanco-y-negro {
  filter: grayscale(100%);
}

